@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@700&display=swap");
.btn {
	width: 100px;
	height: 30px;
	background: rgb(246, 167, 180);
	color: #fff;
	border-radius: 3px;
	border: 0;
	box-shadow: 0px 3px 3px 0 rgb(197 131 164);
	transition: all 0.3s ease-in-out;
	font-size: 14px;
	cursor: pointer;
}
#app {
	overflow: hidden;
}
.container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 50px;
	align-items: center;
	margin-top: 40px;
}

.display_image {
	/* position: static; */
	width: 30%;
}

.display_image_avatar {
	position: relative;
}
.input_name {
	border: none;
	outline: none;
	background-color: transparent;
}

.display_image_name {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 40px;
}
.guest_name {
	text-transform: uppercase;
	color: #fcf542;
	font-size: 2.5em;
	font-family: "Montserrat", sans-serif;
	text-shadow: 5px 2px 4px black;
	text-align: center;
	width: 80%;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	line-height: 40px;
}

.display_image_frame {
	vertical-align: middle;
	/* display: block; */
}

.display_image_result {
	position: absolute;
	top: calc(25%);
	left: 50%;
	transform: translateX(-50%);
	width: 37%;
}

.display_image_data {
}

.modal_image {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Enable scroll if needed */
	background-color: #ccc;
	display: none;
}

.button {
	display: flex;
}

.modal_image_content {
	display: flex;
	flex-direction: column;
	padding: 40px;
	width: 80%;
	margin: 20px auto;
}
.modal_image_crop {
	/* max-width: 800px;
	height: 50%; */
	object-fit: contain;
}

.modal_image_data {
	width: 600px;
	height: 500px;
	display: block;
}
.modal_image_upload {
	margin: 40px auto 0;
	display: flex;
	gap: 40px;

}
.modal_cancel_btn {
	background: rgb(147, 223, 170);
	/* color: #fff;
	border-radius: 3px;
	border: 0; */
	box-shadow: 0px 3px 3px 0 rgb(134, 189, 158);

}
.cropper-view-box,
.cropper-face {
	border-radius: 50%;
}

/* The css styles for `outline` do not follow `border-radius` on iOS/Safari (#979). */
.cropper-view-box {
	outline: 0;
	box-shadow: 0 0 0 1px #39f;
}


.upload_image_data::-webkit-file-upload-button {
	visibility: hidden;
}
.upload_image_data::before {
	width: 100%;
	height: 100%;
	content: "Select file";
	display: inline-block;
	text-align: center;
	line-height: 30px;
}
.upload_image_data:hover::before {
	border-color: black;
}
/* .upload_image_data:active::before {
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
} */

.upload_image_data {
	background: rgb(147, 223, 170);
	box-shadow: 0px 3px 3px 0 rgb(134, 189, 158);
}

.btn:hover {
	background: rgb(232, 133, 156);
	box-shadow: 0 3px 0 0 rgb(245, 144, 198);
}

.upload_image_data:hover {
	background: rgb(152, 206, 168);
	box-shadow: 0 3px 0 0 rgb(79, 150, 101);
}


.upload_image_data::-webkit-file-upload-button {
	visibility: hidden;
}
.upload_image_data::before {
	width: 100%;
	height: 100%;
	content: "Select file";
	display: inline-block;
	text-align: center;
	line-height: 30px;
}
.upload_image_data:hover::before {
	border-color: black;
}
.upload_image_data:active::before {
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.control_image {
	display: flex;
	gap: 20px;
}

.upload_image_data {
	background: rgb(147, 223, 170);
	box-shadow: 0px 3px 3px 0 rgb(134, 189, 158);
}

.btn:hover {
	background: rgb(232, 133, 156);
	box-shadow: 0 3px 0 0 rgb(245, 144, 198);
}

.upload_image_data:hover {
	background: rgb(152, 206, 168);
	box-shadow: 0 3px 0 0 rgb(79, 150, 101);
}

.add-name-input {
	/* padding: 5px;
	background: rgb(155 147 223);
	box-shadow: 0px 3px 3px 0 rgb(110, 113, 167);
	padding-left: 15px; */
	display: none;
}

.add-name {
}

input::placeholder {
	color: #fff;
}

.add-name-input:hover {
	background: rgb(185, 180, 216);
	box-shadow: 0 3px 0 0 rgb(167, 150, 216);
}
@media only screen and (min-width: 768px) {
	.guest_name {
		font-size: 18px;
		line-height: 44px;
		margin-top: -5px;
	}
}

@media only screen and (min-width: 992px) {
	.guest_name {
		font-size: 22px;
		line-height: 50px;
		margin-top: -5px;
	}
}
@media only screen and (min-width: 1200px) {
	.guest_name {
		font-size: 28px;
    	line-height: 64px;
		margin-top: -8px;
	}
}
@media only screen and (min-width: 1600px) {
	.guest_name {
		font-size: 40px;
    	line-height: 90px;
	}
}

@media only screen and (min-width: 1920px) {
	.guest_name {
		font-size: 35px;
    	line-height: 50px;
	}
}

@media only screen and (min-width: 2200px) {
	.guest_name {
		font-size: 48px;
		margin-top: 8px;
		line-height: 76px;
	}
}

@media only screen and (min-width: 3000px) {
	.guest_name {
		font-size: 60px;
		line-height: 80px;
	}
}

@media only screen and (min-width: 3800px) {
	.guest_name {
		font-size: 70px;
		line-height: 94px;
	}
}
