@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@700&display=swap');

.container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.display_image {
	position: static;
	width: 60%;
	margin-right: 32px;

	/* flex: 1; */
}

.display_image_avatar {
	position: relative;


}

.display_image_avatar .guest_name {
	text-transform: uppercase;
	color: #fcf542;
	font-size: 32px;
	text-shadow: #fad126;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translateX(-50%);
}

.display_image_frame {}

.display_image_result {
	position: absolute;
	top: calc(25%);
	left: 50%;
	transform: translateX(-50%);
	width: 37%;
}

.display_image_data {}

.modal_image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	display: none;
}

.modal_image_content {
	width: 800px;
	height: 400px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* background-color: transparent; */
	background-color: red;
}

.control_image {}

.control_image .add-name {
	margin-bottom: 32px;

}

.add-name label {
	font-size: 24px;
}

.add-name .add-name-input {
	line-height: 24px;
	padding: 8px;
	font-size: 24px;
}

/* .cropper-bg {
    background-image: none;
}
.cropper-modal {
} */
.cropper-view-box,
.cropper-face {
	border-radius: 50%;
}

/* The css styles for `outline` do not follow `border-radius` on iOS/Safari (#979). */
.cropper-view-box {
	outline: 0;
	box-shadow: 0 0 0 1px #39f;
}